<h1 class="md-display">Compétences</h1><br>
          <h1 class ="comp2">&diams;  <u>Compétences techniques</u></h1><br>

<ul>
  <li><Strong>Langages</Strong> : Java, C, MatLab, Perl, Javascript, Unix, HTML5, CSS3, JSON/Jade/EJS</li><br>
  <li><Strong>Outils</Strong>  : BMC ITSM 7.6.04, Eclipse, NodeJS, Bower, Grunt, Git. Notions : yeoman, karma, jasmin</li><br>
  <li><Strong>Frameworks</Strong>  : AngularJS, Express.js, Bootstrap, AngularMaterial. Notions : JUnit, React.JS</li><br>
  <li><Strong>Base de données</Strong>  : Oracle, SQL, NoSQL MongoDB, couchDB</li><br>
</ul>
<h1 class ="comp2">&diams;  <u>Gestion Opérationnelle ITSM</u></h1><br>
<ul>
  <li>Gestion des <Strong>modules</Strong>: Incident, Changement, Problème, SRM, Achat</li><br>
  <li><Strong>Développement</Strong> d'évolution et patching</li><br>            
  <li><Strong>Administration</Strong> et configuration de l'application</li><br>
  <li>Suivi de <Strong>production</Strong> et interfaçage : Scripts, Atrium integrator, DSO</li><br>
</ul>
<h1 class ="comp2">&diams;  <u>Traitement du signal</u></h1><br>
<ul>
  <li><Strong>Analyse</Strong>  du signal. Prise de mesure en laboratoire RF</li><br>
  <li><Strong>Simulation</Strong>  MatLab</li><br>
  <li><Strong>Algorithmique</Strong>  et traitement codé en C</li><br>
</ul>
<h1 class ="comp2">&diams;  <u>Systèmes embarqués avionique</u></h1><br>
<ul>
  <li><Strong>Intégration</Strong> et tests sur cible</li><br>
  <li><Strong>Essais</Strong> en vol</li><br>
</ul>
