<h1 class="md-display">Expériences</h1><br>

          <table name ="t1" cellspacing=10 >
            <tr><td valign=top  width=50% class ="celexperience11">Ingénieur d'étude : consultant ITSM<br>BNP Paribas - Centre de Service AUBAY </td><td align = "center" valign="top">Depuis 05/2014</td></tr>           
          </table> 
          <table name ="t2" cellspacing=10 >  
            <tr><td valign=top  width=20% ><Strong>Nom du projet</Strong> : </td><td align="left">TMA ITSM AUBAY</td> </tr>
            <tr><td valign=top   ><Strong>Mission</Strong> : </td>    <td align = "left" valign="top">Position de MOE, Admin, infocentre, Dev. Maintenance de deux applications BMC ITSM; l'une utilisée par le groupe BNPP, l'autre par BNP- Cetelem Personal Finance :
            <br><br>
         <ul>
            <li>Prise en charge d'évolutions :<br> <br>
            -Analyse, chiffrage et propositions de solutions.<br>
            -Rédaction de spécifications fonctionnelles et techniques<br>
            -Développement, test unitaires et intégration<br>
            -Validation de cahier de recette et assistance à la recette<br>
            -Rédaction du document de mise en production et intégration en production</li><br>  
            <li>Prise en charge des demandes de services :<br> <br>
            -Mise en place de tuoriels, de procédures, d'ateliers et de conférences<br>
            -Administration des données fondations(comptes utilisateurs, configurations de l'application, assets, etc...)</li><br>  
            <li>Résolution d'incidents et problèmes : <br> <br>
            -Prise en charge, analyse, proposition de solutions, recette et mise en production<br>
            -Echanges avec l'Editeur, intégrations et patchs correctifs</li><br>                  
            <li>Suivi de production et interfaces :<br> <br>
            -Gestion de configuration CMDB<br>
            -Imports des données de production via Atrium Integrator, DSO ITSM-PF, LDAP</li><br>  
          </ul>
            <tr><td valign=top><Strong>Environnement technique </Strong> : </td><td align="left">Administration serveur plateforme AIX/System Sun/RED HAT. Client Oracle SQL, PL/SQL. Client lourd : BMC Remedy User, BMC Data import Tool, BMC Developer Studio, Atrium Integrator </td> </tr>                                  
          </table>
          <br><hr><br>
          <table name ="t1" cellspacing=10 >
            <tr><td valign=top  width=50% class ="celexperience11">Ingénieur R&D logiciel embarqué<br>Rockwell Collins - France Blagnac </td><td align="center" valign="top"> 04/2012-09/2012              </td></tr>           
          </table> 
          <table name ="t2" cellspacing=10 >  
            <tr><td valign=top  width=20% ><Strong>Nom du projet</Strong> : </td><td align="left">Refonte du produit Antenne DF-500</td> </tr>
            <tr><td valign=top   ><Strong>Mission</Strong> : </td>    <td align = "left" valign="top">Amélioration de radiogoniomètre embarqué en performance et robustesse avec un traitement spécifique aux interférences.
            <tr><td valign=top><Strong>Résultats</Strong> : </td><td align="left">Gain actuel sur les produits DF : Robustesse aux interférences, +5dB en portée de détection VHF</td> </tr>             
            <tr><td valign=top><Strong>Environnement technique</Strong> : </td><td align="left">Laboratoire RF : Antenne radar sur guide d'onde muni de RPU. Base aérienne Toulouse Lasbordes</td> </tr>                                  
          </table>