<h1 class="md-display">Formations</h1><br>

<table cellspacing=10 >
  <tr><td valign="top" align="center"  width=13% class ="cel11">2009-2013 </td>    <td>Diplôme <Strong>Ingénieur ISAE</Strong> cursus ENSICA. Stage de fin d'étude : Ingénieur R&D logiciel embarqué chez Rockwell Collins France</td></tr>
  <tr><td valign="top" align="center" class ="cel11">2012-2013 </td>      <td><Strong>Projet Associatif</Strong> : Mise en place du partenariat AVH Toulouse - ISAE destinée à accroitre la section sportive de l'association AVH en aide aux malvoyants</td></tr>
  <tr><td align="center" class ="cel11">2015 </td><td>Certification : <Strong>ITIL Fondation v3</Strong></td></tr>
  <tr><td align="center" class ="cel11">2016 </td><td>Certification : <Strong>ARS Administering v9</Strong></td></tr>                                    
</table>

  <img ng-src="{{statusImg}}" />{{comment}}<br>
<!--img src="images/bourse.png" alt="bourse">Faites un don svp.<br>
<INPUT type="button" id="myBtn"  class ="btnBourse" value = "Catch me !" ng-mouseover="bourseMouseOver()" ng-click="bourseClick()"/-->
<INPUT type="image" id="myBtn" src="images/bourse.png" class ="btnBourse" value = "Catch me !" ng-mouseover="bourseMouseOver()" ng-click="bourseClick()"/>  