          <h1 class="md-display">Hobbies</h1><br>          
          <h1 class ="comp2">&diams;  <u>Sport</u></h1><br>
          <p class="imgG">
<img src="images/Nice2016.gif" alt="IM">
</p>    
          <ul class="illustreimg">
            <li><Strong>Triathlon</Strong> Pratique en club et en compétition internationale : <br><br>
             IronMan Nice 2016<br>
             Embrunman 2015<br>
             Altriman 2014<br>
             Ariègeoise 2012/2013 en guide handisport<br>
             Ironman Barcelone 2012<br> 
            </li><br>
            <li><Strong>Boxe Française</Strong> en club depuis septembre 2015</li><br>            
          </ul>

          <h1 class ="comp2">&diams;  <u>Geek</u></h1><br>
          <p class="imgG">
<img src="images/geek2.jpg" alt="IM"> 
</p>              
          <ul class="illustreimg">
            <li><a href="https://www.codingame.com/profile/61e8d089025dbb123cd4256f1c845c6a619891" onclick="window.open(this.href); return false;"><Strong>CodingGame</Strong></a> Quelques top 100. Je suis modérateur depuis Juin 2016</li><br>
            <li><a href="http://stackoverflow.com/users/6277564/v-ernst" onclick="window.open(this.href); return false;"><Strong>StackOverflow</Strong></a></li><br>
            <li><a href="https://github.com/VincentERNST" onclick="window.open(this.href); return false;"><Strong>GitHub</Strong></a></li><br>
          </ul>